@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


*:focus {
  outline: 0 !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: var(--app-bg);
    transition: 0.2s all ease-in;
}

.bg{
        background-size: 100% 200%;
        background-repeat:no-repeat;
        height: 230px;
        z-index: 0;
}

.container{
    max-width: 550px;
    margin: -180px auto;
    z-index: 1;
    height: 100vh;
    width: 70%;
    transition: all 0.3s ease;


}


h1{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 38px;
    letter-spacing: 10px;

}


.title-box{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.new-todo{
    background-color: var(--bg);
    transition: 0.2s all ease-in;
    padding: 18px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;  
}


input#todo-input {
    background-color: transparent;
    border-style: none;
    box-sizing: border-box;
    caret-color: #3a7bfd;
    color: var(--input);
    cursor: text;
    font-family: Arial;
    font-size: 20px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left: 20px;
  }
  
  input#todo-input:focus {
    outline: none;
  }


  .todo-button{
    background-color: transparent;
    border:1px solid gray;    
    height:20px;
    border-radius:50%;
    width:20px;
    background-image: none;
    cursor: pointer;

    
    
  }

.todo-block{
    width: 100%;

}


  .todo{
    background-color: var(--bg);
    transition: 0.2s all ease-in;
    padding: 18px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid var(--text-color);
  }

  .todo-text{
      color: var(--text-color);
      transition: 0.2s all ease-in;

      font-family: 'Josefin Sans', sans-serif;
      display: flex;
      align-items: center;
      margin-left: 30px;
      font-size: 20px;
  }

 

  .settings{
    background-color: var(--bg);
    transition: 0.2s all ease-in;
    padding: 18px;
    display: flex;
    color: rgb(121, 121, 121);
    font-family: 'Josefin Sans', sans-serif;
    justify-content: space-between;
    

  }

  .categories  span{
    display: inline;
    margin: 20px;
    font-weight: 700;
    transition: 0.3s;
}

.categories  span:hover{
    color: rgb(165, 165, 165);
    }


    .delete-todo{
      padding: 0;
      border: none;
      background: none;
      color: var(--text-color);
      transition: 0.2s all ease-in;
      opacity: 0;
      transition: 0.8s;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
  }
  
  .todo:hover .delete-todo{
      opacity: 1;
  }



.line{
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.completed{
  text-decoration: line-through;
  text-decoration-color: var(--line);
  transition: 0.2s all ease-in;
  color: gray;
}




.completed-tick{
  background-image:  url(../images/icon-check.svg), 
  linear-gradient(#57ddff ,#c058f3); 
  background-repeat: no-repeat;
  background-position: center;
  transition: none;
}




.categories__content {
  display: flex;
}

.category {
padding:  0px 10px;
}

.category input {
  opacity: 0;
  cursor: pointer;
  position: absolute;

  width: 5%;
  height: 3%;
}


.clear{
  cursor: pointer;

}


/* Light Mode  */


.light-bg{
  background-image: var(--background);
  transition: 0.2s all ease-in;


}

.dark-bg{
  background-image: var(--background);
  transition: 0.2s all ease-in;

}

.label-color{
  color: rgb(80, 80, 252);
}


.categories{
  display: flex;
}

.white{
  color: var(--setting-color);
}

#light-mode-1{
width: 30px;
height: 30px;
border: none;
outline: none;
}

.remove{
  background-color: transparent;
  background-image: url(../images/icon-sun.svg);
  background-size: cover;
}


.sun{
  background-image: url(../images/icon-sun.svg);
  background-color: transparent;
  background-size: cover;
}
.moon{
  background-image: url(../images/icon-moon.svg);
  background-color: transparent;
  background-size: cover;
}

.drag{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-family: 'Josefin Sans', sans-serif;
  color: hsl(233, 14%, 35%);
}
.dragging{
  opacity: 0.5;
}

 /* ### Light Theme */
 .theme-light {
  --app-bg: #fafafa;
  --bg:#fff;
  --text-color: #000;
  --line: gray;
  --input: black;
  --setting-color: #99979c;
  --background: url(../images/bg-mobile-light.jpg);
  --toggle-bg: url(../images/icon-sun.svg);
}
/* ### Dark Theme */
.theme-dark {
  --text-color: #fff;
  --bg: #25273c;
  --app-bg: #181824;
  --input: #cacde8;
  --line: gray;
  --setting-color: #99979c;
  --background: url(../images/bg-mobile-dark.jpg);
  --toggle-bg: url(../images/icon-moon.svg); 
}




@media only screen and (min-width: 577px) {
  .theme-light {
    --background: url(../images/bg-desktop-light.jpg);
  }

  .theme-dark {
    --background: url(../images/bg-desktop-dark.jpg);
  }
 
}

@media only screen and (max-width: 750px) {

.container{
  max-width: 950px;
  transition: all 0.3s ease;
  width: 90%;
}
.todo-text{
  font-size: 16px;
  margin-left: 15px;
}
  .settings{
  display: flex;
  justify-content: space-around;
  position: relative;
  float: left;
  width: 100%;
}
  .categories{
    position: absolute;
    bottom: -95px;
    left: 0;
    right: 0;
    background: var(--todo-bg);
    justify-content: center;
    margin: 0;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--bg);
    text-align: center;
    align-items: center;
}
.category input{
  position: absolute;
  width: 20%;
  height: 50%;
}
.drag{
  position: relative;
  top: 130px;
  width: 100%;
}
}